.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #000;
  background-size: 200% auto;

  transition: 0.5s;
  width: 100px;
  height: 30px;
  border: 1px solid #000;
}

.btn:hover {
  background-position: right center;
}

.listItem {
  text-shadow: 1px 1px 1px silver, -1px 1px 1px silver;
  color: white;
}

.list {
  width: 400px;
  text-align: right;
  margin: 0 auto;
  padding-right: 20px;
}
